<!DOCTYPE html>
<html lang="en">
{{include('pages/inc/header.html.twig')}}

<button onclick="location.href='{{absolute_url(asset(''))}}app_dev.php/post'" type="button" class="btn btn-outline-dark">la page d'accueil</button>

<div class="list-group" >
  <a href ="#" class="list-group-item list-group-item-active">L'Achat</a>
  <a href="#" class="list-group-item list-group-item-action" >{{achats.description}}</a>
   
   <a href="#" class="list-group-item list-group-item-action" > {{ achats.produit}}</a>
   <a href="#" class="list-group-item list-group-item-action" >{{ achats.quantite}} </a>
   <a href="#" class="list-group-item list-group-item-action" > {{ achats.pU}}</a>
   <a href="#" class="list-group-item list-group-item-action"> {{ achats.data|date("m/d/Y")}} </a>
  
</div>

{{include('pages/inc/footer.html.twig')}}
